{% extends "AppOne\base.html" %}
{% load static %}
{% block body_block %}
    <h3> Please Login</h3>
    <hr class="divider"> 
    <form method="post" action="{% url "AppOne:user_login" %}">
        {% csrf_token %}
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" placeholder="Enter your username"/>
        </br>
        </br>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" placeholder="Enter your password"/>
        </br>
        </br>
        <input type="submit" name="login" id="login" value="Login"/>
    </form>

{% endblock  %}
